---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
import pandas as pd
import numpy as np

In [3]:
median_home_price=pd.read_csv('City_Zhvi_AllHomes.csv')

In [4]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
median_home_price['State']=median_home_price['State'].replace(states).astype(object)

In [5]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
###############################################################################    
    # Firstly, read the txt file.
    university_town=pd.read_csv('university_towns.txt', sep="\t")
    
    
    #
    line=pd.DataFrame({'Alabama[edit]':'Alabama[edit]'},index=[0])
    university_town=pd.concat([university_town.iloc[:0],line,university_town.iloc[0:]]).reset_index(drop=True)
    
    
    university_town=university_town.rename(columns={'Alabama[edit]':0}) 
    
    df2=university_town
    
    s=df2[(df2[0].str.endswith('[edit]'))]
    s[0]=s[0].str.slice(0,-6)
    k=list(s.index)
    
    
    df2[0]=df2[0].str.split('(')
    
    l=[]
    for i in range(len(df2)):
        l.append(df2.iloc[i][0][0])
        
    for i in range(len(l)):
        l[i]=l[i].strip()
    
    j=0
    km=[]
    for i in range(len(l)):
        if i==k[j]:
            state=l[k[j]]
            j=j+1
            if j==len(k):
                while i+1 != len(l):
                    i=i+1
                    km.append([state,l[i]])
                break
                
        else:
            km.append([state,l[i]])
        
    university_df=pd.DataFrame(data=km,columns=['State','RegionName'])
    university_df['State']=university_df['State'].str.slice(0,-6)
    
    return university_df

get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [6]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    gdplev=pd.read_excel('gdplev.xls',skiprows=7)
    gdplev=gdplev.reset_index()
    gdplev=gdplev.iloc[212:][['Unnamed: 4','Unnamed: 5']]
    gdplev.columns = ['Quarter','GDP']
    gdplev=gdplev.reset_index()
    gdplev=gdplev[['Quarter','GDP']]
    
    for i in range(2,len(gdplev)):
        if (gdplev.GDP[i-2]>gdplev.GDP[i-1] and gdplev.GDP[i-1]>gdplev.GDP[i]):
            a=(gdplev.Quarter[i-2])
            break
    
    
    return str(a)

get_recession_start()

'2008q3'

In [11]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    gdplev=pd.read_excel('gdplev.xls',skiprows=7)
    gdplev=gdplev.reset_index()
    gdplev=gdplev.iloc[212:][['Unnamed: 4','Unnamed: 5']]
    gdplev.columns = ['Quarter','GDP']
    gdplev=gdplev.reset_index()
    gdplev=gdplev[['Quarter','GDP']]
    
    for i in range(4,len(gdplev)):
        if (gdplev.GDP[i-4] > gdplev.GDP[i-3] and gdplev.GDP[i-3] > gdplev.GDP[i-2] and gdplev.GDP[i-2] < gdplev.GDP[i-1]
       and gdplev.GDP[i-1] < gdplev.GDP[i]):
            a=(gdplev.Quarter[i])
    
     
    return str(a)
get_recession_end()

'2009q4'

In [8]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    gdplev=pd.read_excel('gdplev.xls',skiprows=7)
    gdplev=gdplev.reset_index()
    gdplev=gdplev.iloc[212:][['Unnamed: 4','Unnamed: 5']]
    gdplev.columns = ['Quarter','GDP']
    gdplev=gdplev.reset_index()
    gdplev=gdplev[['Quarter','GDP']]
    recession=[]
    for i in range(4,len(gdplev)):
        if (gdplev.GDP[i-4]>gdplev.GDP[i-3] and gdplev.GDP[i-3]>gdplev.GDP[i-2] and
            gdplev.GDP[i-2] <gdplev.GDP[i-1] and gdplev.GDP[i-1] <gdplev.GDP[i]):
            
            break
    return str(gdplev.Quarter[i-2])
get_recession_bottom()

'2009q2'

In [12]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    housing_data=pd.read_csv('City_Zhvi_AllHomes.csv')
    
    states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
    housing_data['State']=housing_data['State'].replace(states).astype(object)
    
    k=list(housing_data.columns)
    k=k[51:]
    k.insert(0,'State')
    k.insert(1,'RegionName')
    
    
    
    col=k
    col=col[2:]
    df=housing_data
    
    mean=[]
    for i in range(len(col)):
        if (i+1)%3==0:
            a=np.array(housing_data[[col[i-2],col[i-1],col[i]]])
            a=a.T
            M=np.mean(a,0)
            M=M.T
            if int(col[i][-2:])/3==1.0:
                df[str(col[i][:4])+'q1']=M
            if int(col[i][-2:])/3==2:
                df[str(col[i][:4])+'q2']=M
            if int(col[i][-2:])/3==3:
                df[str(col[i][:4])+'q3']=M
            if int(col[i][-2:])/3==4:
                df[str(col[i][:4])+'q4']=M
        if i+1==len(col):
            a=np.array(housing_data[[col[i-1],col[i]]])
            a=a.T
            M=np.mean(a,0)
            M=M.T
            df[str(col[i][:4])+'q3']=M
       
    
    df=df.T
    df=df[-67:]
    df=df.T
    df[['State','RegionName']]=housing_data[['State','RegionName']]
    df=df.set_index(['State','RegionName'])
    
    
    
    
    return df


convert_housing_data_to_quarters()

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,515467,522800,528067,532267,540800,557200,572833,582867,591633,587200
California,Los Angeles,207067,214467,220967,226167,233000,239100,245067,253033,261967,272700,...,498033,509067,518867,528800,538167,547267,557733,566033,577467,584050
Illinois,Chicago,138400,143633,147867,152133,156933,161800,166400,170433,175500,177567,...,192633,195767,201267,201067,206033,208300,207900,206067,208200,212000
Pennsylvania,Philadelphia,53000,53633.3,54133.3,54700,55333.3,55533.3,56266.7,57533.3,59133.3,60733.3,...,113733,115300,115667,116200,117967,121233,122200,123433,126933,128700
Arizona,Phoenix,111833,114367,116000,117400,119600,121567,122700,124300,126533,128367,...,164267,165367,168500,171533,174167,179067,183833,187900,191433,195200
Nevada,Las Vegas,132600,134367,135400,137000,139533,141733,143367,146133,149333,150933,...,170067,173400,175467,177500,181600,186767,190633,194600,197200,199950
California,San Diego,222900,234367,245433,256033,267200,276267,284500,291933,301233,312867,...,480200,489033,496433,503367,512067,519767,525467,529333,536233,539750
Texas,Dallas,84466.7,83866.7,84866.7,87833.3,89733.3,89300,89066.7,90900,92566.7,93800,...,106633,108900,111533,113700,121133,128567,134600,140500,144600,149300
California,San Jose,374267,406567,431867,455500,470667,470200,456800,445567,441433,457767,...,679400,697033,714933,731433,756733,776400,789133,803600,818933,822200
Florida,Jacksonville,88600,89700,91700,93100,94400,95600,97066.7,99066.7,101233,103433,...,120767,121733,123167,124167,126900,130133,132000,133967,137200,139900
California,San Francisco,430500,464467,483533,493000,494067,496133,504100,513400,520433,538167,...,926933,954533,968767,1.00073e+06,1.0608e+06,1.0951e+06,1.10547e+06,1.12177e+06,1.11927e+06,1.1064e+06
Texas,Austin,142967,145267,149467,155733,161233,160733,159533,160033,158967,157500,...,248867,252800,258133,266500,275033,281633,287233,293500,301433,304450
Michigan,Detroit,66166.7,68300,66766.7,67033.3,67500,68366.7,69266.7,69966.7,71000,72333.3,...,37300,37100,37133.3,36200,35833.3,37066.7,38366.7,37966.7,37466.7,37900
Ohio,Columbus,94366.7,95833.3,97133.3,98266.7,99400,100267,101067,102200,103400,104800,...,103133,104500,106433,107867,109433,111567,115000,116700,118200,120100
Tennessee,Memphis,72500,73200,73866.7,74000,74166.7,74933.3,75500,76066.7,76333.3,76766.7,...,68100,69100,71166.7,70533.3,68700,68666.7,69533.3,70900,74166.7,75900
North Carolina,Charlotte,126933,128367,130200,131567,132933,133200,132800,133100,134367,135367,...,149467,150633,152733,155167,157900,160167,162867,166467,169433,172400
Texas,El Paso,76266.7,76866.7,76733.3,77300,78233.3,78300,77433.3,76800,76600,76400,...,111800,111733,111767,111500,111300,111067,110267,110667,111467,112200
Massachusetts,Boston,206933,219167,233100,242500,249600,257067,266933,274967,282500,289300,...,426667,431433,440733,448500,455367,463967,471633,482600,490367,501700
Washington,Seattle,248600,255600,262533,267400,271000,272433,274167,278167,280500,284600,...,441800,451500,459167,467933,493367,514267,533467,551733,575533,589700
Maryland,Baltimore,59666.7,59500,58833.3,59500,59566.7,60133.3,62100,63400,63666.7,64900,...,109233,109533,107367,108067,111433,113967,113900,114667,114733,115150
Colorado,Denver,162233,167833,174333,180333,186500,192533,196400,199100,201233,202433,...,270867,277500,287233,297633,310367,320500,330100,335567,342767,351550
District of Columbia,Washington,137767,144200,148700,147700,149767,155133,164633,172533,180500,193300,...,446933,453000,460300,466167,481067,493400,500900,504100,505800,516250
Tennessee,Nashville,113833,115267,115867,116933,118033,119167,120100,120800,121567,122633,...,160700,162300,166900,171467,176267,181800,189200,195067,200367,206100
Wisconsin,Milwaukee,78033.3,79066.7,81033.3,82333.3,84033.3,85566.7,87066.7,88400,89533.3,91366.7,...,92166.7,92166.7,91966.7,93333.3,94100,94133.3,94566.7,94666.7,96366.7,98850
Arizona,Tucson,101833,102967,104467,105667,107200,108767,110567,112800,115000,117200,...,142467,143433,144233,144167,145133,146600,148167,149533,151167,152700
Oregon,Portland,152800,154767,156567,157467,159900,161800,164267,167767,170767,174133,...,282233,287267,295533,301933,311900,325733,343067,356000,369800,387050
Oklahoma,Oklahoma City,76433.3,77500,78566.7,79166.7,79833.3,80400,81133.3,81733.3,82600,83433.3,...,118033,118967,120100,120800,122367,124700,127100,127900,129300,130300
Nebraska,Omaha,112800,114100,116733,118900,120867,119767,117867,117400,118067,117633,...,130100,130300,132500,133067,134467,136733,140067,141633,142667,143450
New Mexico,Albuquerque,125867,126700,126433,126733,127100,127733,128567,129900,131067,132100,...,163267,164000,164800,165167,165900,166533,167333,169100,170633,171900
California,Fresno,94100,95266.7,96466.7,98233.3,100567,103567,107233,110300,114033,118533,...,169633,173600,178133,180467,182033,185700,187467,189033,192733,196450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Texas,Granite Shoals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,116967,117533,117533,117167,119100,121600,128000,133767,140067,146450
Maryland,Piney Point,155667,155167,158467,163700,163400,164833,164700,167900,178267,181200,...,296400,309000,309233,309567,301700,305233,309967,319500,324167,324600
Wisconsin,Maribel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,130600,128967,129633,131267,130133,129733,129300,127833,129267,134200
Idaho,Middleton,106067,104333,101900,104167,106167,108367,111033,111233,114100,114167,...,144367,145700,146233,146167,147733,148200,151133,153900,157167,160750
Colorado,Bennett,132900,135833,139800,144667,148300,152100,154233,156200,158733,160633,...,151467,162067,171400,178033,184433,191667,195800,199767,207467,212600
New Hampshire,East Hampstead,161833,169100,173967,180500,190900,195067,199267,207400,212300,212233,...,249500,252100,255733,258733,261367,261600,268800,272533,277800,282450
Missouri,Garden City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105500,104300,104767,106033,96066.7,99300,103433,106267,111667,113600
Arkansas,Mountainburg,57166.7,64333.3,67833.3,69000,68666.7,63866.7,63766.7,65466.7,65333.3,66000,...,81600,85066.7,88466.7,89033.3,85566.7,83700,90433.3,98333.3,101900,103400
Wisconsin,Oostburg,107267,108100,112433,115500,119100,120433,120367,119633,119867,118567,...,129567,127933,127433,127067,127400,130333,132033,132767,134100,136350
California,Twin Peaks,97366.7,100167,101333,101700,104000,107667,109833,111133,113200,116600,...,150100,147533,146067,143500,152300,155267,159167,164167,167967,173500
New York,Upper Brookville,1.23097e+06,1.23097e+06,1.2377e+06,1.26157e+06,1.29517e+06,1.34003e+06,1.40367e+06,1.48193e+06,1.53617e+06,1.56203e+06,...,1.78063e+06,1.74923e+06,1.72947e+06,1.74987e+06,1.7896e+06,1.77727e+06,1.83437e+06,1.9045e+06,1.94407e+06,1.9688e+06
Hawaii,Volcano,98700,105367,114667,124767,118133,119400,123267,121167,123300,116900,...,206467,227633,233200,234633,232367,224967,232433,242067,248967,247850
South Carolina,Wedgefield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,74366.7,70266.7,72066.7,75700,72066.7,70333.3,69033.3,68866.7,74266.7,80700
Michigan,Williamston,159167,161300,164300,166200,166433,168633,171667,175033,178667,179333,...,165700,168933,170867,174433,175867,179467,182300,181467,182400,183000
Arkansas,Decatur,63600,64400,65666.7,66733.3,67200,67700,66500,65400,64600,64900,...,89666.7,92566.7,94700,93500,94900,95433.3,97000,96500,96633.3,96850
Tennessee,Briceville,40000,41733.3,43666.7,44900,44800,45300,44633.3,43700,44466.7,43400,...,56233.3,54233.3,52600,49633.3,45900,47933.3,43600,40800,41800,40850
Indiana,Edgewood,91700,91866.7,92933.3,94900,98933.3,100067,100833,101000,102167,101767,...,92133.3,94066.7,94666.7,95866.7,94333.3,96633.3,99966.7,99433.3,99966.7,100950
Tennessee,Palmyra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,122767,126933,126233,122300,120467,119800,125800,127667,132867,137750
Maryland,Saint Inigoes,148067,147600,157233,163367,164233,168200,166500,165333,167300,168800,...,282233,288433,286967,284700,280767,277833,276833,279333,282633,281400
Indiana,Marysville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,116600,115100,116500,111867,111800,115667,120167,128233,123233,124200
California,Forest Falls,113533,114400,114167,111133,113433,113000,113033,115167,118700,125067,...,165367,167500,177100,176533,181800,191167,198733,188633,189867,186650
Missouri,Bois D Arc,107800,106967,107100,108100,110700,113667,112633,112733,113067,115400,...,137567,137567,140400,145033,147567,146300,149433,146867,143767,144000
Virginia,Henrico,128567,130767,132267,133267,135233,136733,138600,141333,143533,146133,...,201633,204000,205900,206567,210433,212100,213967,216033,216200,220150
New Jersey,Diamond Beach,173967,183100,188967,193133,194400,210267,230267,248667,259933,265633,...,381800,387867,387667,393167,398000,399233,400433,404533,403900,399000
Tennessee,Gruetli Laager,35400,35466.7,36666.7,37300,37733.3,37900,39366.7,40400,41566.7,41633.3,...,55566.7,56366.7,57133.3,58900,65366.7,69500,71700,75333.3,76466.7,77500
Wisconsin,Town of Wrightstown,101767,105400,111367,114867,125967,129900,129900,129433,131900,134200,...,144867,146867,149233,148667,149333,149867,149933,149833,151267,155000
New York,Urbana,79200,81666.7,91700,98366.7,94866.7,98533.3,102967,98033.3,93966.7,94600,...,132133,137033,140067,141700,137867,136467,136167,138967,144200,143000
Wisconsin,New Denmark,114567,119267,126067,131967,143800,146967,148367,149167,153133,156733,...,174567,181167,186167,187600,188667,188433,188933,191067,192833,197600
California,Angels,151000,155900,158100,167467,176833,183767,190233,184567,184033,186133,...,244467,254067,259933,260100,250633,263500,279500,276533,271600,269950
Wisconsin,Holland,151033,150500,153233,155833,161867,165733,168033,167400,165767,161967,...,201267,201567,201267,206000,207600,212867,217833,221967,228033,234950

In [13]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    from scipy.stats import ttest_ind
    
    
    df=convert_housing_data_to_quarters()
    df=df.reset_index()
    
    housing_data=pd.read_csv('City_Zhvi_AllHomes.csv')
    states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
    housing_data['State']=housing_data['State'].replace(states).astype(object)
    
    df[['State','RegionName']]=housing_data[['State','RegionName']]
    
    
    university_df=get_list_of_university_towns()
    university_df['uni']=True
    
    uni_town=pd.merge(university_df,df,how='inner',on=['State','RegionName'])
    all_town=pd.merge(uni_town,df,how='outer',on=['State','RegionName'])
    
    all_town=all_town.rename(columns={'2008q3_y':'2008q3','2008q4_y':'2008q4',
                                 '2009q1_y':'2009q1','2009q2_y':'2009q2'})
    
    k=list(all_town.columns)
    a=k[0:3]
    b=k[-4:]
    
    all_town=all_town[k]
    
    
    recession=['State','RegionName','2008q3','2008q4', '2009q1', '2009q2']
    
    df=df[recession]
    

    
    all_town['uni']=all_town['uni'].replace({np.NaN:False})
    
    all_town['PriceRatio']=all_town['2009q2']-all_town['2008q3']
    
    uni_town_price=all_town[(all_town['uni']==True)]
    non_uni_town_price=all_town[(all_town['uni']==False)]
    
    
    uni_town_price_ratio=uni_town_price['PriceRatio']
    non_uni_town_price_ratio=non_uni_town_price['PriceRatio']

    
    
    
    st, p = ttest_ind(uni_town_price_ratio.dropna(), non_uni_town_price_ratio.dropna())

    
    if p < 0.01:
        different=True
    else:
        different=False
        
    
    better=''
    if uni_town_price_ratio.mean() > non_uni_town_price_ratio.mean():
        better='university town'
    else:
        better='non-university town'
        
    return (different,p,better)

run_ttest()

(True, 0.0045824516144303247, 'university town')